@import './reset';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  background-color: #fff;
}

body {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.main {
  margin-top: 165px;
  margin-bottom: 160px;
}

.container {
  margin: 0 auto;
  max-width: 1560px;
  padding: 0 20px;
}

@media (max-width: 850px) {
  .main {
    margin-top: 100px;
  }
}
