@import '../../assets//scss/main.scss';

.team {
  display: flex;
  flex-direction: row;
  column-gap: 50px;

  &Block {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__status {
      color: #964b00;
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 17px;
    }

    &__name {
      color: #1a1a1a;
      font-size: 29px;
      font-weight: 400;
      margin-bottom: 50px;
    }

    &__data {
      display: flex;
      flex-direction: row;
      column-gap: 90px;
      margin-bottom: 50px;

      &Img {
        width: 132px;
        height: 132px;
        border-radius: 50%;
      }

      &List {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &__item {
          display: flex;
          flex-direction: row;
          column-gap: 16px;
          align-items: center;

          svg {
            width: 25px;
            height: 25px;
          }

          &Input {
            width: 312px;
            height: 30px;

            border: 1px solid #964b00;
            border-radius: 7px;
            padding: 8px;
          }
        }
      }
    }

    &__line {
      border-bottom: 1px solid #964b00;
      margin-bottom: 22px;
    }

    &__about {
      min-width: 100%;
      max-width: 100%;
      min-height: 240px;
      max-width: 240px;
      padding: 12px 16px;
      font-size: 16px;
      margin-bottom: 16px;

      border: 1px solid #964b00;
      border-radius: 10px;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    &__text {
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 70px;
    }

    &__edit {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
      align-items: center;
      margin-bottom: 30px;

      &Title {
        color: #1a1a1a;
        font-size: 32px;
        font-weight: 700;
      }

      svg {
        width: 29px;
        height: 29px;
      }
    }

    &__btn {
      width: 345px;
      height: 35px;
      border-radius: 8px;
      background: #964b00;
      box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.25);

      color: #fff;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

@media (max-width: 1000px) {
  .team {
    &Block {
      &__data {
        column-gap: 50px;
      }
    }
  }
}

@media (max-width: 900px) {
  .team {
    &Block {
      &__data {
        column-gap: 20px;

        &Img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .team {
    &Block {
      &__status {
        font-size: 16px;
      }

      &__name {
        font-size: 18px;
        margin-bottom: 38px;
      }

      &__data {
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 40px;

        &Img {
          width: 90px;
          height: 90px;
        }

        &List {
          &__item {
            &Input {
              width: 100%;
            }
          }
        }
      }

      &__line {
        margin-bottom: 40px;
      }

      &__about {
        min-height: 140px;
        max-width: 140px;
        font-size: 14px;
        margin-bottom: 20px;
      }

      &__text {
        font-size: 12px;
        margin-bottom: 50px;
      }

      &__edit {
        column-gap: 10px;
        margin-bottom: 20px;

        &Title {
          font-size: 18px;
        }

        svg {
          width: 14px;
          height: 14px;
        }
      }

      &__btn {
        width: 100%;
        height: 27px;
        font-size: 16px;
      }
    }
  }
}
