@import '../../assets/scss/main.scss';

.details {
  display: flex;
  flex-direction: row;
  column-gap: 50px;

  &Block {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      color: #1a1a1a;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    &__headline {
      color: #1a1a1a;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &__text {
      color: #1a1a1a;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 50px;
    }

    &__list {
      display: flex;
      flex-direction: row;
      column-gap: 50px;
      justify-content: space-between;
      margin-bottom: 50px;

      &Item {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        &__title {
          color: #1a1a1a;
          font-size: 24px;
          font-weight: 700;
        }

        &__text {
          color: #878787;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    &__btn {
      border-radius: 11px;
      background: #964b00;
      box-shadow: 0px 34.632px 65.8px -17.316px rgba(0, 0, 0, 0.25);
      max-width: 410px;
      height: 41px;

      color: #fff;
      font-size: 24px;
      font-weight: 700;
    }
  }
}

@media (max-width: 1150px) {
  .details {
    &Block {
      &__list {
        flex-direction: column;
        row-gap: 40px;
      }
    }
  }
}

@media (max-width: 850px) {
  .details {
    &Block {
      &__title {
        font-size: 24px;
        margin-bottom: 20px;
      }

      &__headline {
        font-size: 18px;
      }

      &__text {
        font-size: 14px;
        margin-bottom: 40px;
      }

      &__list {
        &Item {
          &__title {
            font-size: 18px;
          }

          &__text {
            font-size: 14px;
          }
        }
      }

      &__btn {
        max-width: 100%;
        height: 31px;

        font-size: 16px;
      }
    }
  }
}
