@import '../../assets/scss/main.scss';

.guide_nav {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  max-width: 280px;
  min-width: 280px;

  a {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #964b00;

    color: #000;
    font-size: 18px;
    font-weight: 700;
  }

  &Active {
    background-color: #964b00;
    color: #fff !important;
  }

  &Btn {
    border-radius: 11px;
    background: #964b00;
    box-shadow: 0px 34.63167px 65.80017px -17.31583px rgba(0, 0, 0, 0.25);
    padding: 6px 0;
    margin-top: 30px;

    color: #fff !important;
    text-align: center;
    font-size: 24px !important;
    font-weight: 700;
  }
}

@media (max-width: 850px) {
  .guide_nav {
    display: none;
  }
}
