@import '../../assets/scss/main.scss';

.tourist_bonus {
  display: flex;
  flex-direction: row;
  column-gap: 50px;

  &Block {
    display: flex;
    flex-direction: column;

    &__stats {
      display: flex;
      flex-direction: row;
      column-gap: 40px;
      justify-content: space-between;
      margin-bottom: 50px;

      &Item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 25px;
        width: 100%;
        height: 228px;

        border-radius: 15px;
        background: #964b00;
        box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.25);

        &__title {
          color: #fff;
          font-size: 24px;
          font-weight: 700;
        }

        &__text {
          color: #fff;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      row-gap: 35px;
      margin-bottom: 55px;

      &Title {
        color: #000;
        font-size: 24px;
        font-weight: 700;
      }

      &List {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &__item {
          color: #1a1a1a;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .tourist_bonus {
    &Block {
      &__stats {
        flex-direction: column;
        row-gap: 30px;

        &Item {
          height: 222px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .tourist_bonus {
    &Block {
      &__content {
        row-gap: 20px;
        margin-bottom: 40px;

        &Title {
          font-size: 18px;
        }

        &List {
          &__item {
            font-size: 14px;
          }
        }
      }
    }
  }
}
