@import '../../assets/scss/main.scss';

.request {
  display: flex;
  flex-direction: row;
  column-gap: 50px;

  &Block {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      color: #1a1a1a;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 60px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 40px;

      &Item {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        &__title {
          color: #1a1a1a;
          font-size: 24px;
          font-weight: 700;
        }

        &__text {
          color: #1a1a1a;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .request {
    &Block {
      &__title {
        font-size: 24px;
        margin-bottom: 30px;
      }

      &__list {
        row-gap: 30px;

        &Item {
          row-gap: 20px;

          &__title {
            font-size: 18px;
          }

          &__text {
            font-size: 14 px;
          }
        }
      }
    }
  }
}
